#_homeRoot {
  -fx-background-color: linear-gradient(to left, #5db6cf, #3a4bb9);
}

#_todolist {
  -fx-fill: white;
  -fx-font-size: 34;
  -fx-font-weight: 800;
}

#_content_area {
  -fx-background-color: rgba(255, 255, 255, 0.245);
  -fx-border-color: #ffffff;
  -fx-border-width: 3px 0 0 0;
}

.nav_btn,
#_logo_btn {
  -fx-background-color: transparent;
  -fx-pref-width: 170;
  -fx-pref-height: 50;
}

.nav_btn:hover,
#_search_btn:hover {
  -fx-background-color: rgba(255, 255, 255, 0.245);
}

#_home_btn:armed,
.nav_btn:armed,
#_search_btn:armed {
  -fx-background-color: rgba(255, 255, 255, 0.427);
}

#_home_btn {
  -fx-background-color: rgba(255, 255, 255, 0.245);
}

#btn_txt {
  -fx-fill: white;
  -fx-font-size: 20;
  -fx-font-weight: 700;
}

#_logo_btn:hover {
  -fx-translate-y: -5;
}

#_logo_btn:armed {
  -fx-translate-y: 0;
  -fx-background-color: rgba(34, 4, 4, 0.412);
}

#_content_label {
  -fx-text-fill: white;
  -fx-font-size: 16;
  -fx-font-weight: 800;
}

.home_btn {
  -fx-background-color: rgba(19, 69, 194, 0.36);
  -fx-text-fill: white;
  -fx-font-size: 20;
  -fx-font-weight: 800;
}

.home_btn:hover {
  -fx-background-color: rgba(19, 69, 194, 0.642);
}

.home_btn:armed {
  -fx-background-color: rgb(19, 69, 194);
}

#_se_btn {
  -fx-background-color: transparent;
  -fx-text-fill: rgba(255, 255, 255, 0.611);
  -fx-font-size: 20;
}

#_se_btn:hover {
  -fx-text-fill: rgb(255, 255, 255);
}

#_repo_link {
  -fx-text-fill: white;
  -fx-font-weight: 700;
}

#_email_root {
  -fx-background-color: linear-gradient(to left, #5db6cf, #3a4bb9);
}

.email_btn {
  -fx-background-color: rgba(255, 255, 255, 0.245);
  -fx-pref-width: 170;
  -fx-pref-height: 50;
}

.email_btn:hover {
  -fx-background-color: rgba(255, 255, 255, 0.145);
}

#_email_topic,
#_email_label {
  -fx-text-fill: white;
  -fx-font-size: 16;
  -fx-font-weight: 600;
  -fx-background-color: rgba(255, 255, 255, 0.245);
  -fx-border-color: white;
  -fx-border-width: 0 0 0 3px;
  -fx-padding: 0 0 0 10px;
}

#_err_label {
  -fx-text-fill: rgb(255, 27, 27);
  -fx-font-size: 16;
  -fx-font-weight: 600;
  -fx-padding: 0 0 0 10px;
}

#_email_topic,
#_err_label {
  -fx-pref-width: 300;
  -fx-pref-heght: 25;
}

#_email_label {
  -fx-pref-width: 140;
  -fx-pref-heght: 25;
}

#_sender,
#_subject,
#_body {
  -fx-background-color: rgba(87, 128, 164, 0.378);
  -fx-border-color: rgb(0, 0, 80);
  -fx-border-width: 2;
  -fx-text-fill: rgb(0, 32, 88);
  -fx-font-size: 14;
  -fx-font-weight: 600;
  -fx-pref-width: 350;
}
