#_homeRoot {
  -fx-background-color: rgb(0, 0, 0);
}

#_todolist {
  -fx-fill: white;
  -fx-font-size: 34;
  -fx-font-weight: 800;
}

#_content_area {
  -fx-background-color: rgba(255, 255, 255, 0.245);
  -fx-border-color: #ffffff;
  -fx-border-width: 3px 0 0 0;
}

#_content_area,
#_nav_hbox {
}

.nav_btn,
#_logo_btn {
  -fx-background-color: transparent;
  -fx-pref-width: 170;
  -fx-pref-height: 50;
}

.nav_btn:hover,
#_search_btn:hover {
  -fx-background-color: rgba(255, 255, 255, 0.245);
}

#_home_btn:armed,
.nav_btn:armed,
#_search_btn:armed {
  -fx-background-color: rgba(255, 255, 255, 0.427);
}

#_home_btn {
  -fx-background-color: rgba(255, 255, 255, 0.245);
}

#btn_txt {
  -fx-fill: white;
  -fx-font-size: 20;
  -fx-font-weight: 700;
}

#_logo_btn:hover {
  -fx-translate-y: -5;
}

#_logo_btn:armed {
  -fx-translate-y: 0;
  -fx-background-color: rgba(34, 4, 4, 0.412);
}

#_content_label {
  -fx-text-fill: white;
  -fx-font-size: 16;
  -fx-font-weight: 800;
}

.home_btn {
  -fx-background-color: rgba(19, 69, 194, 0.36);
  -fx-text-fill: white;
  -fx-font-size: 20;
  -fx-font-weight: 800;
}

.home_btn:hover {
  -fx-background-color: rgba(19, 69, 194, 0.642);
}

.home_btn:armed {
  -fx-background-color: rgb(19, 69, 194);
}

#_se_btn {
  -fx-background-color: transparent;
  -fx-text-fill: rgba(255, 255, 255, 0.611);
  -fx-font-size: 20;
}

#_se_btn:hover {
  -fx-text-fill: rgb(255, 255, 255);
}
