#_newRoot {
  -fx-background-color: linear-gradient(to left, #5db6cf, #3a4bb9);
}

#_content_area,
#_nav_hbox {
  -fx-border-color: white;
  -fx-border-radius: 23px 23px 23px 23px;
}

.nav_btn,
#_logo_btn {
  -fx-background-color: transparent;
  -fx-pref-width: 170;
  -fx-pref-height: 50;
}

.nav_btn:hover {
  -fx-background-color: linear-gradient(to right, #00a2ff5e, #aeff00);
}

#_new_btn:armed,
.nav_btn:armed {
  -fx-background-color: linear-gradient(to right, #aeff00, #00a2ff5e);
}

#_new_btn {
  -fx-background-color: linear-gradient(to right, #00a2ff5e, #aeff00);
}

#btn_txt {
  -fx-fill: white;
  -fx-font-size: 20;
  -fx-font-weight: 700;
}

#_logo_btn:hover {
  -fx-translate-y: -5;
}

#_logo_btn:armed {
  -fx-translate-y: 0;
  -fx-background-color: rgba(34, 4, 4, 0.412);
}

.new_btn {
  -fx-background-color: rgba(255, 255, 255, 0.204);
  -fx-text-fill: white;
  -fx-font-size: 20;
  -fx-font-weight: 800;
  -fx-pref-width: 200;
  -fx-border-color: rgb(127, 213, 28);
  -fx-border-width: 0 0 0 8px;
}

.new_btn:hover {
  -fx-background-color: linear-gradient(to right, #00a2ff5e, #aeff00);
}

.new_btn:armed {
  -fx-background-color: linear-gradient(
    to right,
    #00eaff56,
    #ff00dd5a,
    #00eaff56
  );
}
